footer{
    position:absolute;
    bottom:0;
    width: 100%;
    background: #444444;
    color:white;
    padding:10px;

}
footer a, footer a:hover{
    color: #ffffff;
    text-decoration: none;
}

header .navbar-nav{
    align-items: center;
}
.main-container{
    padding-top:50px;
}

@media (max-width: 576px) {
    .navbar-collapse {
        margin-top: 20px;
    }
    .navbar-collapse .nav-item {
        padding: 10px;
        border-top: 1px solid #cccccc;
        width: 100%;
    }
}
.logo{
    max-width: 100%;
}
.navbar-brand{
    max-width:200px;
}